.header {
  display: flex;
  justify-content: center;
  padding: 0 5% 0;
  background-color: white;
}

.header__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__link {
  font-family: Anonimous Pro, sans-serif;
  text-decoration: none;
  color: black;
}

.main{
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;
}

.main__container{
  width: 80%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: #131625;
}

.footer__container {
  border-bottom: 1px solid #616161;
  width: 70%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.footer__link{
  font-family: Anonimous Pro, sans-serif;
  text-decoration: none;
  color: white;
  }

.footer__logo {
  height: 22.32px;
  margin-top: 32px;
}

h6 {
  display: flex;
  color: #616161;
  font-family: Anonymous Pro, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  padding: 1% 0 1% 45%;
  align-self: center;
  background-color: #131625;
  margin: 0;
}

.container {
  display: inline-block;
  margin: 0 0 1% 10%;
  background-color: white;
  width: 371px;
  height: 420px;
  border-radius: 20px;
}

.container__title {
  font-family: Anonymous Pro, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 10px;
  letter-spacing: 0em;
  text-align: left;
}

.container__text {
  font-family: Anonymous Pro, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.container__image {
  width: 371px;
  border-radius: 20px;
}

.subtytle{
  font-family: Anonymous Pro, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}